blockquote {
    align-items: flex-start;
    padding: 10px;
    gap: 10px;

    background: #ffffff;
    border: 3px solid #000000;
    box-shadow: -2px 4px 0px #e7d961, 0px 4px 4px rgba(0, 0, 0, 0.25);
}

blockquote > p:before {
    content: ' ⓘ ';
    padding-right: 8px;
}

.row {
    --bs-gutter-x: 0 !important;
}
